
html,body{
  margin: 0;
  padding: 0;
}
body{
  margin: 0 auto;
  padding: 0;
  min-width: 1200px;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;

}
.page_main_intro{
  position: relative;
  min-height: 432;
  padding-top: 76px;
  width: 1200px;
  height: 536px;
  background-color: #6e95bd;
  background-image: url(../img/background-fon2.jpg);
  background-size: cover;
  background-position: 50% 21%;
}
.inner_page{
  color: #000000;
  background-color: #6e95bb;
  background-image: url("../img/hotel-background_03.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
}
.characters,
.elem_num{
   text-align: center;
  font-size: 14px;
  color:#696969;
}
/*//кнопки*/
.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}
 .button_blue{
  background-color: #81b3d2;
}
.button_blue:hover{
  background-color:#669ec0;
}
.button_blue:active{
  background-color:#5496bd;
}
 .button_brown{
 background-color: #766357;
}
.button_brown:hover{
  background-color:#604e43;
}
.button_brown:active{
  background-color:#503e33;
}
/*//навигация*/
.main_navigation {
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}
.site_navigation{
  list-style: none;
}
.site_navigation a{
  color: #000000;
}
.site_navigation a:hover{
  background-color: #81b3d2;
}
.site_navigation a:focus{
  background-color: #b2b2b2;
}
h2{
  text-align: center;
}
/*//форма*/
.information_item h2{
 font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.information_item p{
  text-align: center;
  font-size: 14px;
  color:#696969;
}
fieldset{
  border:none;
}
.appointment_form{
  width: 560px;
  height: 396px;
  background-color: #f2f2f2;

}
.appointment_item {
  color: #000000;
}
.appointment_item input{
  font: inherit;
  background-color: #f2f2f2;
}
.appointment_item input:hover{
  background-color:#ebebeb;
}
.appointment_item input:focus{
  background-color: #ffffff;
border-color: #e5e5e5;
}
.filter fieldset{
  border: none;
}
.filter legend{
   font-size: 16px;
  line-height:21px;
  color: #ffffff;
}
.filter ul{
  list-style: none;
   font-size: 14px;
   line-height:21px;
  color: #ffffff;
}
.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter_checkboxes{
  margin: 0 auto;
  padding: 10p[ 20px;
  width: 300px;
  border: 1px solid #ffffff;
  list-style-type: none;
  border-radius: 10px;]
}
.filter_checkboxes li{
  margin: 25px 0;
}
.filter_checkbox + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.filter_checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
.filter_checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}
/*//подвал*/
.main_footer{
  color: #000000;
  background-color: #fdfdfd;
}
.page_footer a{
  color:#000000;
}
.academy_logo::after{
 content:"";
  width: 109px;
  height: 37px;
  background-image: url(../img/logo-htmlacademy.svg);
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.footer_social a{
  color: black;
}
.footer_social{
  text-align: center;
}
.footer_social ul{
  list-style: none;
}
.footer_copyright{
  text-align: center;
}
/*стрелки*/
.icon_dir::after{
  content: "";
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-up-dir.svg);
  display: inline-block;
  color: #f2f2f2;
}
/*сеточные стили*/

.container{
  width: 1056px;
  margin: 0 auto;
  padding: 0 10px;
}

.main_header{

  min-height: 65px;
  background-color: rgba(0,100,66,0.3);
  opacity: 0.3;
}
.main_logo{
display: block;
  width: 138px;
  height: 70px;
/*background-image: url(../img/logo.png);*/
  margin: 0 531px;
}
.page_main_intro::after{
  content: "";
  position: absolute;
  left: 0;
  top: 90%;
  width: 1200px;
  height: 57px;
  background-image: url(../img/trangle.png);
  background-repeat: no-repeat;
}
.page_main_logo{
  position: relative;
  margin-top: -50px;
  margin-left: 400px;
}
.main_navigation_wrapper{
  width: 100%;
  min-height: 60px;
  margin-bottom: 70px;
  background-color: aquamarine;
}
.main_navigation_wrapper .container{
  display: flex;
  justify-content: space-between;
}
.main_navigation{
  display: flex;
  flex-direction: column;
/*  align-items: center;*/
  min-height: 60px;
  background-color: transparent;
}
.site_navigation {
  width: 100px;
  margin: 0;
  padding: 0;
  background-color: bisque;
  min-height: 56px;
  list-style: none;
}
.service_wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 flex-wrap: wrap;
}
.city_elem{
  width: 33%;
  height: 256px;
  background-color: #81b3d2;
}
.city{
  width: 66%;
  height: 256px;
}
.housing_elem{
  width: 33%;
  height: 330px;
  background-color: aliceblue;
}
.food_elem{
  width: 33%;
  height: 330px;
  background-color: aliceblue;
}
.souvenirs_elem{
    width: 33%;
  height: 330px;
  background-color: aliceblue;
}
.bridge{
  width: 66%;
  height: 256px;
}
.bridge_elem{
   width: 33%;
  height: 256px;
  background-color: #81b3d2;
}
.area_elem{
  width: 33%;
  height: 256px;
  background-color: #eeeeee;
}
.road_elem{
  width: 33%;
  height: 256px;
  background-color: #eeeeee;
}
.tourists_elem{
  width: 33%;
  height: 256px;
  background-color: #eeeeee;
}

