
html,body{
  margin: 0;
  padding: 0;
}
body{
  margin: 0 ;
  padding: 0;
  min-width: 768px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
.wrapper{
  position: relative;
  margin: 0 auto;
  min-width: 768px;
  max-width: 1200px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,1,1,.2);
  box-shadow: 0 5px 15px 0 rgba(0,1,1,.2);
}
.page_main_intro{
  position: relative;
  min-height: 432px;
  padding-top: 76px;
  background-color: #6e95bd;
  background-image: url("../img/background-foto.jpg");
  background-size: cover;
  background-position: 50% 21%;
}
a{
  text-decoration: none;
}
.characters{
  margin-top: 22px;
}
.characters,
.elem_num{
  font-family:"PT Sans","Arial",sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color:#696969;
}
.button{
  display: block;
  border: 0;
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  word-wrap: break-word;
  text-transform: inherit;
  cursor: pointer;
  overflow: visible;
}
.hotel_button{
  padding: 3px 16px;
  font-size: 14px;
  line-height: 21px;
}
.button_blue{
  background-color: #82b3d3;
}
.button_blue:hover{
  background-color:#669ebf;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.button_blue:active{
  background-color:#5496bd;
  color:#95B9D3;
}
.button_brown{
  background-color: #766357;
}
.button_brown:hover{
  background-color:#604e43;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.button_brown:active{
  background-color:#503e33;
  color: #827773;
}
.site_navigation{
  list-style: none;
}
.site_navigation a{
  color: #000000;
}
.site_navigation a:hover{
  background-color: #81b3d2;
}
.site_navigation a:focus{
  background-color: #b2b2b2;
}
.visually-hidden{
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
.information{
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 36px;
  max-width: 500px;
  line-height: 26px;
  text-align: center;
}
.information_item {
  display: block;
  font-size: 21px;
  font-weight: 700;
}
.information_text{
  display: block;
  margin-top: 28px;
  text-align: center;
  font-size: 14px;
  color:#696969;
}
.map_interactive fieldset{
  border:none;
}
.appointment_form{
  width: 568px;
  height: 396px;
  background-color: #f2f2f2;
}
.form_search{
  position: absolute;
  padding: 56px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0,1,1,.15);
  box-shadow: 0 7px 15px 0 rgba(0,1,1,.15);
  z-index: 5;
}
.form_search_label{
  display: block;
  width: 112px;
}
.form_label_child{
  width: 65px;
}
.form_calend{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 306px;
  height: 38px;
  padding: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
.searh_caledar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid transparent;
  width: 41px;
  height: 38px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.searh_caledar:hover path{
  fill: #000000;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.searh_caledar:active path{
  fill: #81B2D0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.button_submit_search{
  margin-top: 24px;
  padding: 16px 10px;
  width: 100%;
  background-color: #81b3d2;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
}
.button_submit_search:hover{
  background-color: #669EBF;
}
.button_submit_search:active{
  background-color: #5596BE;
  color: rgba(255,255,255,.3);
}
.appointment_form input[type="text"]:not(.big_child) {
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
  -webkit-box-shadow: inset 0 0 10px rgba(255,255,255,.75);
  box-shadow: inset 0 0 10px rgba(255,255,255,.75);
}
.big_child{
  width: 38px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}
.appointment_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 29px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}
.form_number_people{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 226px;
}
.subform .big_child{
  width: 38px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}
.searh_button{
  position: relative;
  display: block;
  border: 0;
  width: 38px;
  height: 38px;
  font: inherit;
  background-color: #f2f2f2;
  cursor: pointer;
}
.searh_button::before,
.searh_button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #a9a9a9;
}
.searh_button:hover::after,
.searh_button:hover::before{
  background-color: #000000;
}
.adults_button_minus::before{
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
}
.adults_button_plus::before{
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.adults_button_plus::after,
.adults_button_plus::before{
  width: 11px;
  height: 3px;
}
.adults_button_plus::after{
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.appointment_item input[type="text"]{
  font: inherit;
  background-color: #f2f2f2;
  color: #0e0e0e;
}
.appointment_item input[type="text"]:hover{
  background-color:#ebebeb;
  color: #0e0e0e;
  cursor: pointer;
  -webkit-transition:all ease 0.5s;
  -o-transition:all ease 0.5s;
  transition:all ease 0.5s;
}
.appointment_item input[type="text"]:focus{
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
  outline-offset: -2px;
  cursor: pointer;
  -webkit-transition:all ease 0.5s;
  -o-transition:all ease 0.5s;
  transition:all ease 0.5s;
}
.map_image{
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  height: 747px;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.map_interactive{
  width: 1200px;
  height: 593px;
  z-index: 10;
}
.filter{
  padding: 27px 6% 6px;
  color: #ffffff;
  background-color: #6e95bb;
  background-image: url("../img/hotel-background.jpg");
  background-position: 50% 16%;
  background-repeat: no-repeat;
}
.filter{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form_block_left{
  width: 48.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.filter_flex{
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.filter_legend{
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.filter fieldset{
  border: none;
}
.filter legend{
  font-size: 16px;
  line-height:21px;
  color: #ffffff;
}
.filter ul{
  width: 239px;
  list-style: none;
  font-size: 14px;
  line-height:21px;
  color: #ffffff;
}
.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter_checkboxes{
  margin: 0 ;
  padding-left: 0;
  list-style: none;
}
.filter_checkboxes li{
  margin: 25px 0;
}
.filter_checkbox + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.filter_checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
.filter_checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}
.payment_day{
  margin-left: auto;
  width: 30%;
}
.cost_day{
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.number_num{
  position: relative;
  margin-top: 10px;
  margin-bottom:0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4px 0;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.number_num::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.number_num label{
  display: block;
  width: 40%;
  padding: 0 4.5% 0 3%;
  text-align: right;
  font-size: 14px;
  cursor: pointer;
}
.number_num input{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  padding-left: 1px;
  padding-right: 2px;
  color: inherit;
  font:inherit;
  background: 0;
  border: 0;
}
.slider_range{
  position: relative;
  margin-top: 21px;
  margin-bottom: 32px;
}
.slider_range .slider_line_range{
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.slider_range .line_slider{
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range_toggle{
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ababab;
  border: 8px solid #ffffff;
  cursor: pointer;
}
.range_toggle:hover{
  background: #1c4f80;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.slider_btn{
  display: block;
  margin-left:27%;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.slider_btn:hover{
  color: #000000;
  background: #ffffff;
}
.slider_button_min{
  left: 0;
}
.slider_button_max{
  left: 80%;
}
.main_footer{
  color: #000000;
  background-color: #fdfdfd;
}
.footer_index{
  position: absolute;
  z-index: 20;
  width: 100%;
  bottom: 0;
  background-color: rgba(254,254,254,.9);
}
.page_footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
}
.page_footer a{
  color:#000000;
}
.acdemy_logo{
  display: block;
  width: 113px;
  height: 39px;
}
.icon_dir::after{
  content: "";
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  display: inline-block;
  color: #f2f2f2;
}
.logo{
  width: 138px;
  height: 70px;
}
.main_logo{
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.logo_image{
  max-width: 100%;
  height: auto;
}
.page_main_intro::after{
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/triangle.png");
  background-repeat: no-repeat;
  background-size: 100% 57px;
}
.page_main_logo{
  display: block;
  margin:0 auto;
}
.main_navigation{
  position: relative;
  z-index: 10;
  font-weight: 700;
}
.main_nav_list {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}
.main_nav_item:nth-child(4n+1){
  margin-left: 6%;
}
.main_nav_item:nth-child(4n+3){
  margin-left: 7.9%;
}
.main_nav_item:nth-child(4n+3),
.main_nav_item:nth-child(4n+4){
  text-align:right;
}
.main_nav_item:last-child, .main-nav_item:nth-child(4n+4) {
    margin-right: 6%;
  }
.main_nav_item:nth-child(4n+3), .main-nav_item:nth-child(4n+4) {
    text-align: right;
}
.main_nav_item{
  padding-top: 14px;
  padding-bottom: 16px;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.main_nav_link{
  line-height: 26px;
  color: #000000;
}
.main_nav_link:hover{
  color: #80b3d2;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.main_nav_link:active{
  color: #cacaca;
}
.main_present_link{
  color: #776456;
}
.separate_wrapper{
  height: 330px;
}
.bridge_wrapper{
  height: 256px;
}
.separate_wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
.city_elem{
  width: 33.333333%;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 47px 4% 24px;
  text-align:center;
  background-color: #81b3d2;
}
.heading_elem{
  font-family: "PT Sans","Arial",sans-serif;
  margin: 0 auto 23px;
  max-width: 160px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}
.item_num{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}
.characters_text{
  margin-top: 22px;
}
.title_elem{
  display: block;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}
.image_wrap{
  position: relative;
  overflow: hidden;
  width: 66.666667%;
  min-height: 256px;
}
.city{
  position: absolute;
  top: 54%;
  left: 0;
  max-width: 100%;
  height: auto;
  -webkit-transform: translateY(-54%);
  -ms-transform: translateY(-54%);
  transform: translateY(-54%);
}
.paragraph_text{
  width: 33.333333%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 161px 4% 68px;
  text-align: center;
}
.housing_elem_text{
  width: 84.5%;
  margin-left: 6.8%;
}
.food_elem_text{
  width: 95.4%;
  margin-left: 3%;
}
.souvenirs_elem_text{
  width: 90%;
  margin-left: 5%;
}
.way_elem_text{
  width: 90%;
  margin-left: 5%;
}
.road_elem-text{
  width: 95.4%;
  margin-left: 1.9%;
}
.housing_elem::before{
  content: "";
  position: absolute;
  top: 59px;
  left: 50%;
  width: 75px;
  height: 76px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("../img/icon-1.svg");
  background-size: 75px 76px;
}
.food_elem::before{
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  width: 74px;
  height: 70px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("../img/icon-3.svg");
}
.souvenirs_elem::before{
  content: "";
  position: absolute;
  top: 57px;
  left: 50%;
  width: 64px;
  height: 76px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url("../img/icon-2.svg");
  background-size: 64px 76px;
}

.bridge_elem{
  width: 33.333333%;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 47px 4% 24px;
  text-align:center;
  background-color: #81b3d2;
}
.fragment_descriptions{
  width: 33.333333%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 47px 5% 45px;
  background-color: #eeeeee;
}
.road_elem{
  width: 33.333333%;
  height: 256px;
  background-color: #eeeeee;
}
.tourists_elem{
  -webkit-box-flex:1;
  -ms-flex:1 1 400px;
  flex:1 1 400px;
  height: 256px;
  background-color: #eeeeee;
}
.choice_wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding:23px 6% 21px;
  line-height: 26px;
  border-bottom: 1px solid #e5e5e5;
}
.choice_search{
  width: 134px;
}
.choice_result{
  font-size: 21px;
  font-weight: 700;
}
.soft_wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 18px;
}
.soft_text{
  font-size: 12px;
  line-height: 18px;
}
.catalog_list{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 10px;
}
.soft_item{
  padding-left:32px;
}
.soft_link{
  color: rgba(0,0,0,.3);
  border-bottom: 1px dotted #81b3d2;
}
.soft_item_active{
  color: #83b4d4;
}
.soft_link:hover{
  color:#83b4d4;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.soft_link:active{
  color: #424242;
}
.down_up_searh{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  width: 110px;
  list-style: none;
}
.icon_dir_item{
  padding-left:13px;
}
.icon_link:hover path{
  fill: #000000;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.icon_link:active path{
  fill: #82b3d3;
}
.icon_down_link:hover path{
  fill: #000000;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.icon_down_link:active path{
  fill: #82b3d3;
}
.hotel{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 6% 29px;
  border-bottom: 1px solid #e5e5e5;
}
.hotel img{
  margin: 0;
  padding: 0;
  width: 134px;
}
.hotel_description{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hotel_info{
  margin-right: 5px;
  width: 110px;
}
.hotel_booking{
  width: 142px;
}
.hotel_description_wpap{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 33px;
}
.hotel_image{
  display: block;
  width: 135px;
  height: 90px;
}
.hotel_name{
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 21px;
  line-height: 26px;
}
.hotel_text{
  margin-left: -1px;
  margin-top: 0;
  margin-bottom: 14px;
}
.hotel_link{
  color: #000000;
}
.hotel_link a{
  text-decoration: none;
}
.hotel_link:hover{
  color: #81b3d2;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.hotel_link:active{
  color: rgba(0,0,0,.5);
}
.hotel_rating{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 4px;
  width: 110px;
}
.stars_four{
  width: 89px;
}
.hotel_stars{
  max-width: 110px;
  height: 17px;
  background-image: url("../img/star.svg");
  background-repeat: space;
}
.rating_text{
  margin-top: 47px;
  margin-bottom: 0;
  padding: 3px 13px;
  background-color:#f2f2f2;
}
.stars_three{
  width: 65px;
}
.stars_two{
  width: 41px;
}
.search_hotel{
  position: relative;
  z-index: 20;
  margin: 0 auto;
  padding-top: 30px;
  width: 568px;
  text-align: center;
}
.search_hotel_title{
  display: block;
  margin-top: 21px;
  margin-bottom: 23px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  line-height: 36px;
}
.search_hotel_text{
  font-family: "PT Sans","Arial",sans-serif;
  line-height: 24px;
  color: #7d7d7d;
}
.searh_button{
  position: relative;
  display: block;
  border: 0;
  width: 38px;
  height: 38px;
  font: inherit;
  background-color: #f2f2f2;
  cursor: pointer;
}
.adults_button_minus::before{
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 12px;
  height: 3px;
}
.search_hotel_botton{
  position: relative;
  margin-top: 47px;
  padding: 30px 10px;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  z-index: 2;
  background-color:#766357;
}
.search_hotel_botton:hover{
  background-color: #604E44;
}
.search_hotel_botton:active{
  color:rgb(147,137,133);
  background-color: #503E32;
}
.social_btn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 50px;
  background-color: #81b3d2;
}
.social_btn:hover{
  background-color:#669ec0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.social_btn:focus,
.social_btn:active{
  background-color:#5496bd;
  color: #88B7D2;
}
.page_footer_label{
  font-size: 21px;
  font-weight: 700;
  line-height:26px;
  color: #000000;
}
.footer_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
}
.academy_logo{
  line-height: 26px;
}
.social_link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.social_link_item{
  margin-left: 2px;
  margin-right: 4px;
}
.copyright_logo{
  display: block;
  width: 115px;
  height: 41px;
  margin-left: 8px;
}
.copyright_logo:hover path{
  fill: #81b3d2;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.copyright_logo:active path{
  fill: #bcbcbc;
}
.map{
  position: relative;
  height: 593px;
  overflow: hidden;
}
.modal_show{
  display: block;
}
.modal_map iframe {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 2;
  border: none;
}
.modal_close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #fff;
  border: 0;
  cursor: pointer;
}
.modal_close::before,
.modal_close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}
.modal_close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal_close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@-webkit-keyframes show {
  0% {
    -webkit-transform: scaleY(0) translateY(-60%);
    transform: scaleY(0) translateY(-60%);
  }
  100% {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
  }
}
@keyframes show {
  0% {
    -webkit-transform: scaleY(0) translateY(-60%);
    transform: scaleY(0) translateY(-60%);
  }
  100% {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
  }
}
.js_form_close {
  display: none;
}
.js_form_show {
  display: block;
  -webkit-animation: show 0.75s forwards;
  animation: show 0.75s forwards;
}
