
html,body{
  margin: 0;
  padding: 0;
}
body{
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
   background: url("../img/background-fon.jpg" );

   background-color: #f2f2f2;
    background-position: top center;
  background-repeat: no-repeat;
}
.inner_page{
color: #000000;
  background-color: #6e95bb;
  background-image: url("../img/hotel-background_03.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
}
/*//кнопки*/
.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}
 .button_blue{
  background-color: #81b3d2;
}
.button_blue:hover{
  background-color:#669ec0;
}
.button_blue:active{
  background-color:#5496bd;
}
 .button_brown{
 background-color: #766357;
}
.button_brown:hover{
  background-color:#604e43;
}
.button_brown:active{
  background-color:#503e33;
}
/*//навигация*/
.main_navigation {
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  background-color: #ffffff;
}
.site_navigation{
  list-style: none;
}
.site_navigation a{
  color: #000000;
}
.site_navigation a:hover{
  background-color: #81b3d2;
}
.site_navigation a:focus{
  background-color: #b2b2b2;
}
h2{
  text-align: center;
}
/*//форма*/
.information_item h2{
 font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.information_item p{
  text-align: center;
  font-size: 14px;
  color:#696969;
}
fieldset{
  border:none;
}
.appointment_form{
  width: 560px;
  height: 396px;
  background-color: #f2f2f2;

}
.appointment_item {
  color: #000000;
}
.appointment_item input{
  font: inherit;
  background-color: #f2f2f2;
}
.appointment_item input:hover{
  background-color:#ebebeb;
}
.appointment_item input:focus{
  background-color: #ffffff;
border-color: #e5e5e5;
}
.filter fieldset{
  border: none;
}
.filter legend{
   font-size: 16px;
  line-height:21px;
  color: #ffffff;
}
.filter ul{
  list-style: none;
   font-size: 14px;
   line-height:21px;
  color: #ffffff;
}
.visually_hidden:not(:focus):not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter_checkboxes{
  margin: 0 auto;
  padding: 10p[ 20px;
  width: 300px;
  border: 1px solid #ffffff;
  list-style-type: none;
  border-radius: 10px;]
}
.filter_checkboxes li{
  margin: 25px 0;
}
.filter_checkbox + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.filter_checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
.filter_checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}
/*//подвал*/
.main_footer{

color: #000000;
background-color: #fdfdfd;

}
.academy_logo::after{
 content:"";
  width: 109px;
  height: 37px;
  background-image: url(../img/logo-htmlacademy.svg);
  display: inline-block;
  margin: 5px;
}
.footer_social a{
  color: black;
}
